:root {
    --main-bg-color: #31511E;
    --main-text-color: #1A1A19;
    --complementary-bg-color: #859F3D;
    --white: #F6FCDF;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Playfair Display', serif;
}

body{
    background-color: #fff5d7;
    font-family: 'Playfair Display', serif;
}

.header{
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: space-between;
    background-color: var(--complementary-bg-color);
    margin: 0.5em;
    border-radius: 2em;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: rgba(26, 26, 25, 0.4) 0.5em 0.5em 1em;
    outline: #111 solid 0.2em;
}

header a img{
    width: 10em;
    height: auto;
    margin: 0.5em;
}

.main {
    display: flex;
    background-color: var(--main-bg-color);
    margin: 0.5em;
    border-radius: 2em;
    width: 60%;
    box-shadow: rgba(26, 26, 25, 0.7) 0.5em 0.5em 1em;
    outline: #111 solid 0.2em;

}

nav {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-right: 2em;
}

.headernav div a {
    text-decoration: none;
    color: var(--white);
    font-size: 1.5em;
    background-color: var(--main-bg-color);
    padding: 0.5em;
    border-radius: 0.5em;
    transition: transform 0.3s ease;

    outline: #111 solid 0.1em;
}

.headernav a:hover {
    color: var(--main-text-color);
    transform: scale(1.1);
}

.headerlinks{
    padding: 1em;
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--main-text-color);
    min-width: 10em;
    z-index: 1;
    border-radius: 0.5em;
    padding: 0.5em 0;
    margin: 0.5em;
}

.dropdown-content a {
    color: var(--white);
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
    width: 10rem;
}

.dropdown-content a:hover {
    background-color: #31400a;
}

.headerlinks:hover .dropdown-content {
    display: block;
}

main {
    display: flex;
    background-color: var(--main-bg-color);
    margin: 0.5em;
    border-radius: 2em;
    width: 60%;
    box-shadow: rgba(26, 26, 25, 0.7) 0.5em 0.5em 1em;
    outline: #111 solid 0.2em;

}

.content {
    background-color: var(--main-bg-color);
    padding: 1em;
    border-radius: 2em;
}

.content h1, h2, h3{
    color: var(--white);
}

#titlu {
    display: flex;
    font-size: 2em;
    justify-content: center;
}

#welcometext {
    display: flex;
    font-size: 1.5em;
    justify-content: space-between;
    text-indent: 2em;
}

.calendar h2 {
    display: flex;
    font-size: 2em;
    justify-content: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5em;
    font-size: 1em;
    font-family: 'Playfair Display', serif;
    box-shadow: 0 0 1em rgba(0, 0, 0, 0.3);
    outline: #111 solid 0.2em;

}

table th {
    background-color: var(--complementary-bg-color);
    color: var(--main-text-color);
    padding: 0.75em;
    border-bottom: 0.2em solid var(--complementary-bg-color);
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
}


table td {
    padding: 0.75em;
    border-bottom: 0.1em solid var(--complementary-bg-color);
}

table tr:nth-child(odd) {
    background-color: #f2f2f2;
}

table tr:nth-child(even) {
    background-color: #ffffff;
}

table tr:hover {
    background-color: #e0e0e0;
}

table td:first-child {
    font-weight: bold;
}

table td:last-child {
    text-align: center;
    font-style: italic;
}

#text-inceput {
    margin-bottom: 7em;
}

.calendar h2{
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .header {
        width: 100%;
        margin: 1em;
    }
    main {
        width: 100%;
        margin: 1em;
    }
    body{
        padding: 0.5em;
    }
}

@media (max-width: 750px) {
    .header {
        flex-direction: column;
        align-items: center;
    }
}